*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
/* RESET */

body{
  font-family: 'Rubik Mono One', sans-serif;
  z-index: 0;
}
/*Proprietà BODY ,INIZIO NAV*/

nav{
  position: fixed;
  right: 10px;
  z-index: 2;
}

li, li > a{
  display: inline-block;
}

li > a{
  margin: 10px 5px;
  padding: 15px 20px;
  background-color: #ffffff;
  border-radius: 100px;
  color: #000000;
  text-decoration: none;
}
/* FINE NAV, INIZIO SFONDI SEZIONI */

#section1{
  background-color: #ff1717;
  height: 100vh;
  color: #faee14;
}

#section2{
  background-color: #1cd43d;
  height: 100vh;
  color: #faee14;
}

#section3{
  background-color: #faee14;
  height: 100vh;
  color: #1cd43d;
}
/* FINE SFONDI SEZIONI, INIZIO CONTENUTO SEZIONI */

.contenitore{
  width: 60vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  position: relative;
}

.contenuto{
  height:80%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contenuto > img {
  height: 80%;
}

.contenuto > h2{
  height: 20%;
}
