*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
/* RESET */
body{
  font-family: 'Rubik Mono One', sans-serif;
}
/*Proprietà BODY ,INIZIO NAV*/
nav{
  position: fixed;
  right: 10px;
}
li{
  display: inline-block;
  position: relative;
  margin: 10px 5px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 100px;
  position: relative;
  margin: 10px 5px;
  padding: 10px;
}
li > a{
  font-size: 50%;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* FINE NAV, INIZIO SEZIONE 1 */

#s1{
  background-color: #ff1717;
  height: 100vh;
}
#s2{
  background-color: #ff1757;
  height: 100vh;
}
